/*350*/

@font-face {
    font-family: ttk;
    src: url(./fonts/TTLakes-DemiBold.ttf);
}
@font-face {
    font-family: ttklights;
    src: url(./fonts/TTLakesCondensed-Medium.ttf);
}
@font-face {
    font-family: ttkreg;
    src: url(./fonts/TTLakesCompressed-Regular.ttf);
}

:root{
    box-sizing: border-box;
    font-size: calc(1vw + 0.5em);
}
body{
    overflow: hidden;
    margin: 0;
    background-color:#F8F8F8;
}
.header{
    background-color: #FFFFFF;
    border-bottom: 0.5px solid #B8FFEC;
}
.header__container{
    margin-left: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}
.flex__left{
  display: inline-flex;
  align-items: center; /* Выравнивание по вертикали по центру */
  justify-content: flex-start;
}

.main__h1{
    margin: 30px 16px;
    font-family: ttk;
    font-size: 28px;
}
.main__menu{
    padding: 20px;
    display: flex;
    overflow: auto;
    white-space: nowrap;
}
.main__menu::-webkit-scrollbar {
    display: none;
}
.main__menu__item-link {
    font-family: ttklights;
    color: #7E7E82;
    padding: 5px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
  }
  .main__menu__item-link:hover{
    border-radius: 5px;
    border: solid 2px #B8FFEC;
    background-color: #FFFFFF;
  }
  .main__title-style{
    margin: 10px 16px;
    font-family: ttklights;
    font-size: 14px;
  }
  .main__next{
    font-family: ttkreg;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    margin-left: 16px;
    text-decoration: none;
    color: black;
  }

  @media (min-width: 220px) and (max-width: 320px) {
    .header__call,
    .header__chat,
    .header__profile,
    .main__repair__img,
    .main__check__img,
    .main__repair__text,
    .main__check__text,
    .main__title2,
    .main__title3 {
        display: none;
    }
    .main__logo img {
        width: 220px;
    }
    .header__dispoint img {
        display: none;
    }
  }

  
  
@media (min-width: 320px) {
      .header__call,
      .header__chat,
      .header__profile,
      .main__repair__img,
      .main__check__img,
      .main__repair__text,
      .main__check__text,
      .main__title2,
      .main__title3 {
          display: none;
      }
      .main__logo img {
          width: 320px;
      }
      .header__dispoint img {
          display: none;
      }
  }

  @media (min-width:768px) {

    .header__call{
      display: flex;
      padding-left: 290px;
    }
    .header__dispoint img,
    .header__profile,
    .header__chat{
      display: flex;
    }
    .header__repair__img,
    .header__check__img,
    .main__repair__text,
    .main__check__text,
    .main__title3{
      display: none;
    }
    .main__info{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .main__info {
      position: relative;
    }
    .main__title2{
      position: absolute;
      top: 55%;
      display: flex; 
      white-space: normal;
    }

    .main__next{
      position: absolute;
      top: 95%;
      margin-left: 16px;
    }
    .main__logo img {
      width: 360px;
      height: 208px;
      margin-left: 40px;
      border-radius: 5px;
    }
  }

  @media (min-width: 1120px) {
    .header {
        display: none;
    }
    .main__headers {
      
        box-sizing: border-box;
        width: 100%;
        padding-top: 26px;
        background-color: #f8f8f8;
        z-index: 100;
    }

  

    .highlight {
        padding-right: 20px;
    }
    .main__h1 {
        margin: 0;
        font-family: ttk;
        font-size: 32px;
       
    }
    .main__repair__text,
    .main__check__text {
        
        font-family: ttkreg;
        font-size: 16px;
        color: #000000;
        border-radius: 5px;
        text-decoration: none;
    }
    .main__repair__text:hover,
    .main__check__text:hover {
        background-color: #b8ffec;
    }
    .main__repair__img,
    .main__check__img {
       
        font-family: ttkreg;
        font-size: 16px;
        color: #7e7e82;
        padding: 5px 16px;
        border-radius: 5px;
        text-decoration: none;
    }
    .main__repair__img:hover,
    .main__check__img:hover {
        background-color: #b8ffec;
    }
    .main__menu {
        width: 100%;
    }
    .main__logo img {
        width: 632px;
        height: 307px;
        margin-left: 40px;
        border-radius: 70px;
    }
    .main__title2 {
        position: absolute;
        top: 20%;
        display: flex;
    }
    .main__title3 {
        display: flex;
        position: absolute;
        top: 33%;
    }
    .main__superflex{
      display: inline-flex;
      position: absolute;
      right: 0px;
      
    }
    
    .main__rflex{
      display: inline-flex;
      align-items: center; /* Выравнивание по вертикали по центру */
      justify-content: flex-end;
      padding-right: 40px;
    
    }
}
